<!-- Azul Lanas
10/28/2020
Calculator page html -->

<div>
    <form name="calc-form" action="calc.php" method="POST" >
        <div class="wrapper2">
            <div class="itemInput">
                <div id="msg" class="hidden">

                </div>
                <div class= "input-space">
                    <input type="text" name="num1" id="num1" maxlength="10">
                </div>
                <div>
                    <input type="text" name="num1" id="num1" maxlength="10">
                </div>

            </div>
            <div class="itemChoice">
                
            </div>
            <div class="itemCalc">

            </div>
        </div>
    </form>
</div>