<!--
Azul Lanas
10/27/2020
Header template for the site
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.gif" type="image/gif">
    </head>
    <body>
        <nav>
            <div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Calculator</a></li>
                </ul>
            </div>
        </nav>
        <h1>{{name}}</h1>