<!--
Azul Lanas
10/27/2020
Header template for the site
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css.map">
        <link rel="stylesheet" href="css/bootstrap.css.map">
        <link href="css/main.css" rel="stylesheet">

        <link rel="icon" href="favicon.gif" type="image/gif">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Calculator</a>
              </div>
            </div>
          </nav>
        <h1>{{name}}</h1>