<!--
Azul Lanas
10/27/2020
Body template for home
-->

<h1>{{name}}</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-7 col-lg-6 item1">
            <img src="images/skull.png" alt="halloweenPic">
        </div>
        <div class="col-xs-12 col-md-5 col-lg-6 item2">
            <h3>{{hellowrld}}</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac feugiat sed lectus vestibulum. Varius sit amet mattis vulputate. Mattis aliquam faucibus purus in massa tempor. Interdum posuere lorem ipsum dolor sit amet consectetur. Orci porta non pulvinar neque laoreet suspendisse. Et ultrices neque ornare aenean. Augue interdum velit euismod in. Sit amet nulla facilisi morbi tempus iaculis urna. Est ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Sit amet consectetur adipiscing elit duis tristique sollicitudin. Netus et malesuada fames ac turpis egestas integer eget. Eleifend mi in nulla posuere sollicitudin aliquam ultrices. Mattis molestie a iaculis at erat.

            <br><br>Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis. Risus ultricies tristique nulla aliquet enim tortor. Eget nunc lobortis mattis aliquam faucibus purus in massa tempor. Quis viverra nibh cras pulvinar. Sit amet porttitor eget dolor morbi non arcu. Sed euismod nisi porta lorem mollis. Amet aliquam id diam maecenas ultricies. Ac auctor augue mauris augue neque gravida in fermentum. Consequat nisl vel pretium lectus. Sollicitudin ac orci phasellus egestas tellus. Adipiscing elit pellentesque habitant morbi tristique. Pretium nibh ipsum consequat nisl. Volutpat est velit egestas dui. Ultrices eros in cursus turpis massa tincidunt dui ut ornare. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Lacus luctus accumsan tortor posuere ac. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Mi eget mauris pharetra et ultrices neque ornare aenean euismod. Mattis molestie a iaculis at erat pellentesque adipiscing.
            </p>
        </div>
    </div>
    
</div>
